body{
    background-color: rgb(95, 148, 148);
}
.box{
    border-radius: 50px;
    border: 0;
    margin: 0;
}
#b1{
    background-color: rgb(86, 86, 209);
    border: 0;
    border-radius: 10px;
    margin: 0;
}
#b1:hover{
    text-decoration: underline;
}
#b2{
    background-color: rgb(245, 157, 157);
    border: 0;
    border-radius: 5px;
}
#b2:hover{
    text-decoration: underline;
}
